*,
*::before ,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
}

body{
    padding: 0px;
    margin: 0px;
}


.loading {
    display: none;
    z-index: 10000;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    pointer-events: none;
}

.loading_img{
    max-width: 130px;
    max-height: 130px;
    margin-top: 80px;
    margin-left: 40px;
}

.error-message {
    display: none;
    content: "";
    background: #ff9b9b;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

/* ---------------------
        BACKGROUND
 ---------------------*/

body  .background-image {
    width: 100vw;
    background: url('/Immagini/fotoBackground8.jpg') no-repeat;
    position: fixed;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center left;
    background-color: #fff;
    height: 100vh;
}

/* ----------------------------
        ANIMATED NAVBAR
 ----------------------------*/

.header {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.navigation {
  width: 100px;
  height: 100vh;
  display: block;
  padding-right: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 0% 50% 350% 0%;
  perspective: 800;
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  z-index: 1000;
}

.navigation__icon {
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 22%;
    left: 35%;
    background: hsla(312, 51%, 41%, 0.0);
    cursor: pointer;
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .topBar {
  width: 55px;
  height: 2px;
  display: block;
  background: #f7082d;
  position: absolute;
  top: 10px;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .middleBar {
  width: 55px;
  height: 2px;
  display: block;
  background: #f7082d;
  position: absolute;
  top: 20px;
  transform: rotate(0);
   transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__icon .bottomBar {
  width: 35px;
  height: 2px;
  display: block;
  background: #f7082d;
  position: absolute;
  top: 30px;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__ul {
  float: right;
  margin-top: 40vh;
  opacity: 0;
  visibility: hidden;
  transform: rotateY(-90deg) translateX(-300px);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation .navigation__ul li {
  list-style: none;
  text-align: right;
}

.navigation .navigation__ul a {
  display: block;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  margin-right: 15px;
}

.navigation .navigation__ul a:hover {
  color: hsl(185, 96%, 33%);
}

/* ---------------------
    NAVIGATION-OPEN
--------------------- */

.navigation-open {
  width: 30vw;
  height: 100vh;
  display: block;
  background: #FFF;
  position: absolute;
  left: 0;
  border-radius: 0% 1% 1% 0%;
}


.navigation-open .navigation__icon {
    top:15%;
    left: 80%;
    margin-right: 15px;
}

.navigation-open .navigation__ul {
  opacity: 1;
  visibility: visible;
}


.navigation-open .topBar {
  top: 21px;
  transform: rotate(45deg);
}

.navigation-open .middleBar {
  width: 0;
  top: 22px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}

.navigation-open .bottomBar {
  width: 55px;
  top: 21px;
  transform: rotate(-45deg);
}

.navigation-open .navigation__ul {
  transform: rotateY(0) translateX(0);
}


/* -----------------------
          FORM
 ------------------------*/

/* TODO: migliorare form estetica */

.form-contenitore {
    /* border: 3px solid black; */
    /* border-radius: 10%; */
    position: absolute;
    width: 410px;
    height: 300px;
    z-index: 15;
    top: 41%;
    right: 5%;
    margin: -100px 0 0 -150px;
    margin-top: -200px;

}

.form label,input[type=number] {
   width: 65%; /* Full width */
   padding: 8px; /* Some padding */
   box-sizing: border-box; /* Make sure that padding and width stays in place */
   margin-top: 6px; /* Add a top margin */
   margin-bottom: 16px; /* Bottom margin */
   font-size: 19px;
}

.form label {
    font-size: 35px;
    font-variant: small-caps;
    color:black;
}

.form {
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
}

.form input[type=submit] {
    font-size: 16px;
    width: 100px;
    height: 40px;
    background: #074ee6;
    color: #fff;
    border: 0px solid #eeeeee;
    border-radius: 18px;
    text-shadow:none;
}

.form input[type=submit]:hover{

    background: #2ea0f9;
    color: #fff;
}

.form input {
    border: 3px solid #086d1c;
    border-radius: 20px;
}

.form input:focus{
    border: 3px solid #1d099c;
}


/* ---------------------
        LOGO DESTRA
 ---------------------*/

    /* TODO: Cambiare logo (con solo scritta?) */

 .logo-right {
    /* border: 3px solid black; */
    float: right;
    margin-right: 5vw;
    margin-top: 20px;
 }

 /* ----------------------
        BOTTONI SOTTO
  -----------------------*/

.bottoniAggiuntivi {
    z-index: 15;
    border: 0px solid black;
    border-radius: 0%;
    position: absolute;
    width: 620px;
    height: 140px;
    top: 91%;
    right: 5%;
    margin: -100px 0 0 -150px;
    margin-right: -40px;
}


.bottoniAggiuntivi button {
    position: relative;
    float: left;
    margin: 25px;
    margin-top: 5px;
    padding: 5px;
    height: 120px;
    width: 150px;
    text-align: center;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.73);
    font-family: "montserrat";
    cursor: pointer;
    transition: 0.8s;
    overflow: hidden;
    border-radius: 20%;
}

.bottoniAggiuntivi .btn1 {border: 2px solid #a90217; color: #a90217;}
.bottoniAggiuntivi .btn2 {border: 2px solid #17751a; color: #17751a;}
.bottoniAggiuntivi .btn3 {border: 2px solid #2c0696; color: #2c0696;}

.bottoniAggiuntivi button::before {
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -10;
    transition: 0.8s;
}

.bottoniAggiuntivi .btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
    background: #a90217;
}


.bottoniAggiuntivi .btn2::before {
    width: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: 0.5s;
    background: #17751a;
}


.bottoniAggiuntivi .btn3::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
    background: #2c0696;
}



.bottoniAggiuntivi button:hover {
    color: white;
    background: none;
    z-index: 100;
}


.bottoniAggiuntivi .btn1:hover::before, .btn3:hover::before{
    height: 180%;
}

.bottoniAggiuntivi .btn2:hover::before{
    height: 150%;
    width: 150%;
    top: -23%;
    left: -23%;

}


.only-mobile{
    display:none;
}

.compriTuttoQuandoMenuAperto {
    display:none;
}



/* ---------------------
        ICONE
 ---------------------*/


.fa-cookie-bite{color: #7d4c0c; transform: scale(1.24);}
.fa-fish{color: #1f67d4; transform: rotate(-30deg) scale(1.24);}
.fa-hotdog{color:#bf0a0a; transform: scale(1.24);}

.fa-weight{margin-top: 15px; transform: scale(1.45);}
.fa-plus-square{margin-top: 10px; transform: scale(1.24);}
.fa-exclamation-triangle{margin-top: 10px; transform: scale(1.06);}


/* -----------------------
     AGGIUNGI ALIMENTO
 -----------------------*/

.formAggiungi {

    background: black;
    border: 3px solid blue;
    border-radius: 15%;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 70vw;
    height: 70vh;
    overflow: auto;
}

.formAggiungi-form{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    text-align: center;
    display: table;
    width: 85%;
    height: 70%;

}

.formAggiungi-form p,h3{
    color: white;
}

.formAggiungi-form input,p,h3{
    display: inline-block;
    /* border: 3px solid red; */
}

.formAggiungi-form *{
    display: table-table-cell;
}

.formAggiungi-form input[type=number] {
    margin-left: 10px;
    width: 20vw;
    border-radius: 15px;
    font-size: 4vw;
}

.formAggiungi-form input[type=text] {
    font-size: 4vw;
    text-align: center;
    border-radius: 20px;
}

.formAggiungi-form p, h3 {
    font-size: 4vw;
}

.formAggiungi-form input[type=submit] , input[type=button]{
    margin: 15px;
    margin-top: 2vw;
    width: 16vw;
    height: 6vw;
    font-size: 3vw;
    color: white;
    text-align: center;
}

.formAggiungi-form h3,p {
    margin-top: 2vw;
}

.formAggiungi-form input[type=submit]{
    background-color: blue;
}

.formAggiungi-form input[type=button]{
    background-color: red;
}





/* TODO: cambiare p e h3 di questa form perchè sennò interagisce anche con le media query */



.mostraListaAlimenti {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table;
}

h5{
    font-size: 35px;
    color: white;
    display: table-row;
    float: left;
    margin-left: 10px;


}

h6{
    font-size: 22px;
    color: white;
    display: table-row;
    float: right;
    margin-left: 10px;
    margin-top: 10px;

}






 /* ---------------------
         MEDIA QUERY
  ---------------------*/


@media (max-width: 643px) {
    body .background-image {
        background: url('/Immagini/fotoBackground5.jpg') no-repeat;
        width: 100vw;
        position: fixed;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        background-color: #fff;
        height: 100vh;
    }

    .logo-right {
        position: absolute;
        z-index: 100;
        border: 0px solid white;
        margin: auto;
        left: 23vw;
        margin-top: 0px;
        width: 350px;
        height: 180px;

    }

    .logo-right .logo-right_img {
        margin-top: 10px;
        max-width: 70vw;
        max-height: 20vh;
    }

    .form-contenitore {
        position: absolute;
        border: 0px;
        width: 50vw;
        top: 25%;
        left: 0;
        margin-left: 35vw;

    }

    .form label,input{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .form label{
        color: white;
    }

    .form input[type=submit]{
        margin-top: 15px;
    }

    .bottoniAggiuntivi{
        position: absolute;
        top: 70vh;
        right: 0;
        margin: 0;
        width: 80vw;
    }

    .bottoniAggiuntivi button {
        margin: 15px;
        transition: 0.0s;
        height: 90px;
        width: 110px;
        font-size: 1rem;
        margin-left: 2vw;
        background-color: rgba(255, 255, 255, 0.8)
    }

    .navigation {
        width: 75px;
    }

    .only-mobile{
        display: none;
    }

    .navigation-open {
        width: 40vw;
        z-index: 1000;
    }

    .navigation .navigation__ul {
        margin-top: 22vh;

        margin-right: -30px;
    }

    .navigation .navigation__ul li{
        margin: 10px 0 5vh 10px;
    }

    .navigation .navigation__ul a{
        margin-right: 0px;
        margin-bottom: 0px;
        border: 2px solid #060b71;
        border-radius: 20%;
        font-size: 22px;
        padding: 10px;
        text-align: center;
    }

    .navigation .navigation__ul a:hover {
      border: 2px solid hsl(185, 96%, 33%);
    }

    .compriTuttoQuandoMenuAperto {
        display: none;
    }

    .navigation-open > .compriTuttoQuandoMenuAperto{
        display: block;
        height: 150vh;
        width: 150vw;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0.65;
        animation: fade-in-out 1s ease-in-out;
    }

    .bottoniAggiuntivi {
        top: 73vh;
    }

    .bottoniAggiuntivi button {
        height: 70px;
        width: 75px;
    }

    .fa-weight{margin-top: 4px}
    .fa-plus-square{margin-top: 1.5px;}
    .fa-exclamation-triangle{margin-top: 1.4px;}

    .form label{
        color:white;
    }

}

@media (max-width: 998px) {
    .form-contenitore{
        margin-top: -100px;
    }
}

@media (max-height: 360px) {
    .logo-right{
        display: none;
    }
}

@media (max-height: 430px) {

    .navigation .navigation__ul {
        margin-top: 27vh;
    }

    .bottoniAggiuntivi{
        display: none;
    }
    .form label{
        color:blue;
        font-size: 20px;
        font-variant: small-caps;
    }
}

@media (max-width: 360px) {
    .bottoniAggiuntivi button {
        height: 68px;
        width: 60px;
        margin-top: 30px;
        font-size: 0.7rem;
    }

    .bottoniAggiuntivi button {

    }

}

@keyframes fade-in-out {
    from {
        display: none;
        opacity: 0.0;
    }
    to {
        display: block;
        opacity: 0.65;
    }
}
